<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinanx.springboot.repository.UserRepository">
	<resultMap id="User" type="com.chinanx.springboot.model.User">
		<id property="id" column="id" javaType="java.lang.Long" />
		<result property="username" column="username" javaType="java.lang.String" />
		<result property="password" column="password" javaType="java.lang.String" />
		<result property="mobile" column="mobile"
			typeHandler="com.chinanx.crypto.mybatis.handler.CryptoStringTypeHandler" />
	</resultMap>

	<resultMap id="UserAndRole" type="com.chinanx.springboot.model.User" extends="User">
		<collection property="roles" ofType="com.chinanx.springboot.model.Role" notNullColumn="roleid">
			<id column="roleid" property="id" />
			<result column="rolename" property="roleName" />
		</collection>
	</resultMap>

	<select id="findUserById" resultMap="User" parameterType="long">
		select u.* from sys_user u where u.id=#{id}
	</select>

	<select id="findUserByUsername" resultMap="UserAndRole" parameterType="java.lang.String">
		select u.*, r.id roleid, r.rolename from sys_user u 
			left join sys_r_user_role ur on ur.userid=u.id
			left join sys_role r on ur.roleid=r.id
		 where u.username=#{username}
	</select>
</mapper>